__pycache__/
*.pyc
*.pyo
*.pyd

env/
.env

output/
output.json

*.wav
*.mp3
!voices/master.wav
*.mp4
*.m4a
*.png
*.jpg
*.jpeg
*.ass
*.ffconcat

client_secrets.json
youtube_token.json
output/youtube_token.json
